{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/understand.css">
{% endblock %}

{% block content %}
    <div class="container">
        <header>
            <h1 class="title-dark">Comprendre la Peste-47</h1>
        </header>
        <section>
            <div>
                <h2 class="title-dark">L'origine de la bactérie</h2>
                <p>
                    La bactérie identifiée en 1347 est la bactérie "Yersinia pestis" qui est à l'origine de la pandémie
                    actuelle.
                    La maladie provoquée par cette bactérie a été nommée Peste-47 par le Roi Philippe de Vallois. <br/>
                    Ce que l'on sait actuellement, c'est que ce n'est pas la première pandémie de peste : il y a eu la
                    peste
                    de 541 qui a ravagé l'Europe méditerranéenne.
                </p>
                <p>
                    Vous voulez en apprendre plus sur l'Histoire de la peste ? Aller voir les crieurs publics !
                </p>
            </div>
        </section>
        <section>
            <h2 class="title-dark">Les symptômes</h2>
            <article>
                <p>
                    A la différence de la peste de 541, qui fut essentiellement bubonique, la Peste-47, prend deux
                    formes : principalement bubonique, mais aussi pulmonaire, selon les circonstances.
                </p>
                <h3>La peste bubonique</h3>
                <p>
                    La peste bubonique est la forme la plus courante. Elle provient de la morsure d’une puce infectée
                    après
                    s’être nourrie du sang d’un rongeur malade, par exemple un rat. <br/>
                    Parmi les symptômes de la peste bubonique, on trouve généralement :
                <ul>
                    <li>Fièvre et frissons</li>
                    <li>Maux de tête et courbatures</li>
                    <li> Ganglions enflés et douloureux au niveau du cou, de l'aisne et des aisselles</li>
                </ul>
                </p>
            </article>
            <article>
                <h3>La peste pulmonaire</h3>
                <p>
                    La peste pulmonaire est la forme la plus grave de la maladie. Elle est la plupart du temps mortelle
                    pour le malade. <br/>
                    La peste pulmonaire est causée par :
                <ul>
                    <li>La toux</li>
                    <li>Des douleurs thoraciques</li>
                    <li>Une forte fièvre</li>
                    <li>Un essouflement prolongé</li>
                    <li>l'apparatition d'une pmeumonie rapide</li>
                </ul>
                </p>
                <p>
                    Vous avez ces symptômes ? Lisez vite notre rubrique Orientation médicale !
                </p>
            </article>
        </section>
        <section>
            <h2 class="title-dark">La transmission</h2>
            <p>
                La peste pulmonaire est la seule forme de peste qui peut se transmettre de personne à personne. C'est la
                forme foudroyante de la maladie. Elle est causée par l'inhanaltion massive de bactérie par
                l'intermédiaire
                de goutellette de salive dûe à une toux ou un éternuement.
            </p>
            <p>
                Comment se prémunir de la transmission de la maladie ? Voir notre rubrique Mes conseil Peste !
            </p>
        </section>
        <section>
            <h2 class="title-dark">Suivi médical</h2>
            <p>

            </p>
        </section>
    </div>
{% endblock %}