{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/understand.css">
{% endblock %}

{% block content %}
    <header>
    <h1 class="title-light">Comprendre la Peste-47</h1>
    </header>
    <body>
    <h2 class="title-light">L'origine du virus</h2>
    </body>
{% endblock %}