{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/understand.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Understanding the Plague-47</h1>
        <section>
            <div>
                <p class="paragraph">
                    Once you have understood everything about the Peste-47, don't hesitate to visit our
                    <a href="/Shop/shop" class="link">Shop</a>
                </p>
                <h2 class="title-dark">The origin of the bacteria</h2>
                <p class="paragraph">
                    We feared her, she came back. The bacterium identified at the beginning of 1347 is
                    none other than the "Yersinia pestis" bacterium,
                    the cause of the current pandemic. It was named Peste-47 by our good old King Phillipe. <br/>
                    But what we know is that this is not the first plague pandemic and it will certainly not be the last, the first plague epidemic dates back to the year 541.

                </p>
                <p class="paragraph">
                    Do you want to learn more about the History of the Plague? Go and see the
                    <a href="https://fr.wikipedia.org/wiki/Crieur_public" class="link">town criers</a>, they will surely explain it better than us.
                </p>
            </div>
        </section>
        <section>
            <h2 class="title-dark">The symptoms</h2>
            <article>
                <p class="paragraph">
                    Unlike the plague of 541, the Plague-47, takes two forms: "bubonic",
                    or "pulmonary", depending on circumstances and one's luck.
                </p>
                <h3>The bubonic plague</h3>
                <p class="paragraph">
                    This is the most common form. It comes from the bite of an infected
                    flea that is probably in your bed or in your stables.<br/>
                    Symptoms of bubonic plague usually include :
                <ul>
                    <li>Fever and chills</li>
                    <li>Headaches and aches pains </li>
                    <li>Ugly and painful nodes in the neck, groin areas and underarms.</li>
                </ul>
                </p>
            </article>
            <article>
                <h3>Lung plague</h3>
                <p class="paragraph">
                    This is the most serious form of the disease.
                    If you have it, you should know that you are unlikely to recover.<br/>
                    Symptoms of pneumonic plague usually include :
                <ul>
                    <li>Coughing</li>
                    <li>High fever</li>
                    <li>The appearance of a rapid pmeumonia</li>
                </ul>
                </p>
                <p class="paragraph">
                    Do you have these symptoms? You'd better read our Medical Orientation section...
                </p>
            </article>
        </section>
        <section>
            <h2 class="title-dark">The transmission</h2>
            <p class="paragraph">
                Pulmonary plague is the only form of plague that can be transmitted from person
                to person. This is very unfortunate because it is also the devastating form of
                the disease. It is caused by the massive inhalation of bacteria
                (coughing, sneezing).

            </p>
            <p class="paragraph">
                How can you prevent yourself from transmitting the disease? See our very informative section
                <a href="/Advice/index" class="link">My plague advice!</a>
            </p>
        </section>
        <section>
            <h2 class="title-dark">Medical follow-up</h2>
            <p class="paragraph">
                If I ever have symptoms that make me think of the Plague-47 :
                <ul>
                <li>I stay home, avoid contact, and use a beak.</li>
                <li>If my symptoms worsen with breathing difficulties or signs of choking,
                    I go to the nearest church and pray with them to get out of it.. </li>
            </ul>
            </p>
            <p class="paragraph">
                As part of the health emergency for the plebeians, we are setting up
                <a href="/Faq/index" class="link">Le pigeon vert</a> : all the information on the Plague Peste-47,
                1d/7 (between 1am and 2am)
            </p>
        </section>
    </div>
{% endblock %}