{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/understand.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Comprendre la Peste-47</h1>
        <section>
            <div>
                <p class="paragraph">
                    Une fois que vous aurez tout compris sur la Peste-47, n'hésitez pas à faire un tour sur notre
                    <a href="/Shop/shop" class="link">Boutique</a>
                </p>
                <h2 class="title-dark">L'origine de la bactérie</h2>
                <p class="paragraph">
                    On la craignait, elle est revenue. La bactérie identifiée début 1347 n'est autre que la bactérie
                    "Yersinia pestis", à l'origine de la pandémie actuelle. Elle a été nommée Peste-47 par notre bon
                    vieux Roi Phillipe. <br/>
                    Mais ce que l'on sait, c'est que ce n'est pas la première pandémie de peste et ça ne sera
                    certainement pas la dernière, la première épidémie de peste date de l'an 541.
                </p>
                <p class="paragraph">
                    Vous voulez en apprendre plus sur l'Histoire de la peste ? Aller voir les
                    <a href="https://fr.wikipedia.org/wiki/Crieur_public" class="link">crieurs publics</a>, ils vont
                    expliqueront ça sûrement mieux que nous.
                </p>
            </div>
        </section>
        <section>
            <h2 class="title-dark">Les symptômes</h2>
            <article>
                <p class="paragraph">
                    A la différence de la peste de 541, la Peste-47, prend deux formes : "bubonique", ou
                    "pulmonaire", selon les circonstances et la chance de chacun.
                </p>
                <h3>La peste bubonique</h3>
                <p class="paragraph">
                    C'est la forme la plus courante. Elle provient de la morsure d’une puce infectée
                    qui se trouve certainement dans votre lit ou dans vos écuries.<br/>
                    Parmi les symptômes de la peste bubonique, on trouve généralement :
                <ul>
                    <li>Fièvre et frissons</li>
                    <li>Maux de tête et courbatures</li>
                    <li> Ganglions laids et douloureux au niveau du cou, de l'aisne et des aisselles</li>
                </ul>
                </p>
            </article>
            <article>
                <h3>La peste pulmonaire</h3>
                <p class="paragraph">
                    C'est la forme la plus grave de la maladie. Si vous l'avez, sachez qu'il y a peu de chances pour
                    que vous vous en sortiez.<br/>
                    Parmi les symptômes de la peste pulmonaire, on retrouve généralement :
                <ul>
                    <li>La toux</li>
                    <li>Une forte fièvre</li>
                    <li>l'apparatition d'une pmeumonie rapide</li>
                </ul>
                </p>
                <p class="paragraph">
                    Vous avez ces symptômes ? Vous feriez mieux de lire notre rubrique Orientation médicale...
                </p>
            </article>
        </section>
        <section>
            <h2 class="title-dark">La transmission</h2>
            <p class="paragraph">
                La peste pulmonaire est la seule forme de peste qui peut se transmettre de personne à personne. Ce n'est
                vraiment pas de chance car c'est aussi la forme foudroyante de la maladie. Elle est causée par
                l'inhanaltion massive de bactéries (toux, éternuement).
            </p>
            <p class="paragraph">
                Comment se prémunir de la transmission de la maladie ? Voir notre rubrique très instructive
                <a href="/Advice/index" class="link">Mes conseils Peste !</a>
            </p>
        </section>
        <section>
            <h2 class="title-dark">Suivi médical</h2>
            <p class="paragraph">
                Si jamais j'ai des symptômes qui me font penser à la Peste-47 :
                <ul>
                <li>Je reste chez moi, j'évite les contacts, et j'utilise un bec.</li>
                <li>Si mes symptômes s'agravent avec des difficultés réspiratoires ou signes d'étouffements, je me
                    rends à l'église la plus proche et je prie avec eux pour m'en sortir. </li>
            </ul>
            </p>
            <p class="paragraph">
                Dans le cadre de l'urgence sanitaire de la plèbe, nous mettons en place le
                <a href="/Faq/index" class="link">Pigeon vert</a> : toutes les infos sur la Peste Noire
                Peste-47, 1j/7 (entre 1h et 2h du mat')
            </p>
        </section>
    </div>
{% endblock %}