{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/understand.css">
{% endblock %}

{% block content %}
    <header>
    <h1 class="title-dark">Comprendre la Peste-47</h1>
    </header>
    <body>
    <div>
        <h2 class="title-dark">L'origine de la bactérie</h2>
        <p>
            La bactérie identifiée en 1347 est la bactérie "Yersinia pestis" qui est à l'origine de la pandémie actuelle.
            La maladie provoquée par cette bactérie a été nommée Peste-47. <br />
            Ce que l'on sait actuellement, c'est que ce n'est pas la première pandémie de peste : il y a eu la peste de
            Justinien (541-767) qui ravagea l'Europe méditerranéenne et sa disparition au VIIIe siècle reste mystérieuse,
            et son absence dura près de six siècles.
        </p>
    </div>
    <div>
        <h2 class="title-dark">Les symptômes</h2>
        <p>
        A la différence de la peste de Justinien, qui fut essentiellement bubonique, la Peste-47, prend deux
        formes : principalement bubonique, mais aussi pulmonaire, selon les circonstances.
        </p>
    </div>



    </body>
{% endblock %}