{% extends 'layout.html.twig' %}


{% block title %}Conseils pour lutter contre la peste{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/advice.css">

{% endblock %}
{% block content %}

    <div class="container">
        <h1>Les conseils Peste </h1>
        <div class="confinement">
            <h2>Appliquer les gestes barrières et le confinement</h2>
            <p>Les gestes barrières sont une bonne pratique destinée à limiter la propagation d’un agent pathogène,
                notamment en situation de pandémie.</p>
            <ul>
                <li>Se laver régulièrement les mains et les pieds  ou même tout court, pour éviter les odeurs et être contaminers</li>
                <li>Tousser ou éternuer dans son masque le bec à été pensez avec un grand réservoir ou dans un mouchoir</li>
                <li>Porter correctement un bec quand la distance ne peut pas être respectée
                    et dans les lieux où cela est obligatoire</li>
                <li>Respecter une distance d’au moins un mètre virgule cinquante-six centimètres et quatre-vingt cinq millimètres
                    avec les autres</li>
                <li>Utiliser l'outils numérique (StopPeste)</li>
            </ul>
            <p>L'interdiction de déplacement en France, vulgarisée par les crieurs de rue par l'expression « confinement de la
                population » ou « confinement national », est une mesure sanitaire mise en place pour la première fois
                du 17 mars à 12 h au 11 mai 1347 (55 jours, soit 1 mois et 25 jours), et une deuxième fois à partir du
                30 octobre 1347, s'insère dans un ensemble de politiques de restrictions de contacts de la pleb et de
                déplacements en réponse à la pandémie de la Peste47 en France.
                Après une campagne sanitaire de recommandation des « gestes barrières » hygiéniques et de distanciation
                physique, la décision d'un premier confinement au niveau national est annoncée au soir du lundi 16 mars
                1347 par le roi Philippe de vallois philou pour les intimes, lors d'un meet à la nation. Il indique à
                plusieurs reprises que la France est en « guerre sanitaire » contre la Peste47, alors que le pays, au
                « stade 3 » des mesures sanitaires gouvernementales, est en pleine expansion épidémique. </p>
        </div>
        <div class="authorise">
            <h2>Dans quels cas suis-je autorisé à sortir ?</h2>
            <ul>
                <li>Déplacements, pour aller traire la chèvre du voisin</li>
                <li>Déplacements, pour effectuer les récoltes des champs </li>
                <li>Déplacements, pour assistance à la femme du voisin qui est toujours seule à la maison</li>
            </ul>
            <p>Vous devez sortir pour l'une de ces raisons ? <a href="#">Télécharge le formulaire pour sortir</a> </p>
        </div>
        <div class="track-down">
            <h2>Le dépistage de la Peste-47</h2>
            <p> Les tests virologiques (RT-PCR) permettent de déterminer si une personne est porteuse du virus au moment
                du test, grâce à un prélèvement par voie nasale ou salivaire. Le résultat est en général disponible dans
                les 24 heures qui suivent.</p>
        </div>
    <div>


{% endblock %}