{% extends 'layouts.html.twig' %}


{% block title %}Admin | Ajouter une actualité{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/advice.css">

{% endblock %}
{% block content %}

    <div class="container">
        <h1 class="title">Mes conseils Peste </h1>
    <div>


{% endblock %}