{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/plague.css">
{% endblock %}

{% block content %}
    <section class="section-stop-plague">
        <div class="container">
            <h1>Qu'est ce que Stop-Peste ?</h1>
            <div class="row justify-content-around">
                <div class="col-12 col-md-6">
                    <p>Stop Peste est un projet de contact tracing imaginé par le docteur Michel MIPOIVRE lorsqu'il découvrit que les marcassins d'Italie n'avaient plus de quoi fabriquer des barques en macaroni. C'est donc à partir de ce moment la qu'il décida de créer une application permettant de pister grâce à des applications installées sur votre beau smartphone en bois. Ce système permet donc d'informer et de recenser des malades ou personnes succeptible d'avoir été infectées par la peste </p>
                    <p>Nous rappelons que la peste n'est pas qu'un moyen d'appeler son homme, sa femme ou son enfant! C'est surtout une maladie très contagieuse commune aux humains et aux animaux, elle est principalement véhiculée par le rat et tansmise par l'homme par piqûres de puces de rongeurs infectés.</p>
                    <p>Le bacille responsable de la maladie à été découvert en 1894 par Alexandre Yersin, mais ça on s'en fou vu qu'il est pas encore né</p>
                </div>
                <div class="col-12 col-md-5 col-lg-4">
                    <img src="/assets/images/img_stop_plague.png">
                </div>
            </div>
        </div>
    </section>
{% endblock %}