{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/plague.css">
{% endblock %}

{% block content %}
    <section class="section-stop-plague">
        <div class="container">
            <h1>What is Stop-Peste ?</h1>
            <div class="row justify-content-around">
                <div class="col-12 col-md-6">
                    <p>Stop-Peste is a contact tracing project imagined by Doctor Michel MIPOIVRE when he discovered
                        that the marcasins of Italy no longer had enough means to make boats out of macaroni. That's when he decided to create an application that would allow you to
                        track your movements thanks to applications installed on your beautiful wooden smartphone. This system makes it possible to inform and register sick people or
                        people who may have been infected by the plague. </p>
                    <p>We remind you that the plague is not just a way to call your man, wife or child! It is above all a highly contagious disease common to humans and animals.
                        It is mainly carried by rats and transmitted by humans through the bites of infected rodents' fleas.</p>
                    <p>The bacillus responsible for the disease was discovered in 1894 by Alexandre Yersin, but we don't care as it hasn't yet been born.</p>
                </div>
                <div class="col-12 col-md-5 col-lg-4">
                    <img src="/assets/images/img_stop_plague.png">
                </div>
            </div>
        </div>
    </section>
{% endblock %}