.shop h2, h3 {
    text-align: center;
    margin-bottom: var(--spacing3);
}

.administration-button-add {
    margin-bottom: var(--spacing3);
}

.administration h3 {
    margin-bottom: var(--spacing2);
}

.administration-button-delete {
    margin-bottom: var(--spacing4);
}

.administration-img {
    width: 100%;
    display: block;
}

.modal-body input {
    width: 100%;
}

.modal-body li {
    color:red;
}

.btn-primary {
    background-color: var(--color-dark);
    border: 2px solid var(--color-dark);
    color: var(--color-light);
}

.btn-primary:hover {
    background-color: var(--color-light);
    border: 2px solid var(--color-dark);
    color: 2px solid var(--color-dark);
}