body {
    background-color: var(--color-light);
}
.container {
    border: solid var(--text-color);
    background-color: rgba(169,146,125, 0.4);
    margin-top: var(--nav);
    margin-bottom: var(--spacing4);
}
p a {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
}
a:hover {
    color: var(--hover);
    text-decoration: none;
}