.container {
    margin-top: var(--nav);
    border: solid var(--text-color);
    background-image: var(--background-img) ;
    margin-bottom: var(--spacing4);
}

p a {
    text-decoration: underline;
    color: #5E503F;
    font-weight: 800;
}

a:hover {
    color: var(--hover);
    text-decoration: underline;
}
.submit-button {
    background-color: var(--color-dark);
    color: var(--text-color);
}
.submit-button:hover {
    filter: brightness(1.75);
    color: var(--color-light);
}
.submit-button:focus {
    background-color: var(--color-light);
    color: var(--color-dark);
}
.alert:empty {
    display: none;
}
form .form-control {
    color: var(--color-dark);
}
.title{
    font-family: var(--title-font);
    text-align: center;
    padding-top: var(--spacing4);
    padding-bottom: var(--spacing4);
    color: var(--color-dark);
    font-size: var(--h1-font-size);
}