.container {
    margin-top: var(--nav);
    border: solid var(--text-color);
    background-color: rgba(169,146,125, 0.4);
    margin-top: var(--spacing5);
    margin-bottom: var(--spacing4);
    padding: var(--spacing3);
}

article, .btn-group {
    margin: var(--spacing3);
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

a:hover {
    text-decoration: none;
    color: var(--hover);
}