.footer{
    background-color: var(--color-dark);
    padding: var(--spacing2);
    border-top: 2px solid #fca311;
}

.footer h3{
    margin-bottom: var(--spacing) ;
    color: var(--text-color);
}

.footer p{
    padding: 0;
    font-size: var(--footer-font-size);
    color: var(--text-color);
    font-family: var(--text-font);
}

.footer a{
    padding: 0;
    font-size: var(--footer-font-size);
    color: var(--text-color);
    font-family: var(--text-font);
}
.footer a:hover {
    color: var(--hover);
    text-decoration: none;
    font-weight: bold;
}

.sceau{
    border-radius: 16px;
    height: 100px;
    text-align: center;
}
