.titleLegal{
    font-family: var(--title-font);
    text-align: center;
    padding-top: var(--spacing4);
    padding-bottom: var(--spacing4);
    color: var(--color-dark);
}

.text{
    font-family: var(--text-font);
    margin-bottom: var(--spacing3);
    font-size: 1.3rem;
}

.article{
    font-family: var(--title-font);
    padding-top: var(--spacing2);
    padding-bottom: var(--spacing2);
    color: var(--color-dark);
}

.container {
    border: solid var(--text-color);
    background-color: rgba(169,146,125, 0.4);
    margin-top: var(--spacing4);
    margin-bottom: var(--spacing4);
}