@import "style.css";

h2 {
    text-align: center;
    font-family: var(--title-font);
}

ul {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li {
    list-style: none;
    font-family: var(--text-font);
}

img {
    width: 100%;
    margin: auto;
}
.content-map {
    display: flex;
    flex-direction: column;
}

.content-card {
    height: 500px;
}
.map {

    object-fit: cover;
    height: 80%;
}

.card {
    margin-top: 8px;
    margin-bottom: 8px;
}

.overflow-auto {
    height: 800px; !important;
}

.title-map {
    border: 1px solid black;
    width: 800px;
    text-align: center;
    box-shadow: 0 0 8px 8px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--spacing2);
}

.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-main {
    border-left: 8px solid black;
    border-right: 8px solid black;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    
}
