@import "style.css";

h2 {
    text-align: center;
    font-family: var(--title-font);
}

ul {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
li {
    list-style: none;
    font-family: var(--text-font);
}

img {
    width: 100%;
    margin: auto;
}


.content-card {
    height: 667px;
    display: flex;
}
.map {

    object-fit: cover;
    height: 80%;
}

.card {
    margin-top: 8px;
    margin-bottom: 8px;
}

.content-card card{
    overflow-x: auto;
    width: 500px;
}

.title-map {
    border: 1px solid black;
    width: 800px;
    text-align: center;
    box-shadow: 0 0 8px 8px ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: var(--spacing2);
}

.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: var(--spacing4); !important;
}

h1 {

}

.content-main {
    margin-top: var(--nav);
    border: solid var(--text-color);
    background-color: rgba(169,146,125, 0.4);
    margin-bottom: var(--spacing4);
    background-image: var(--background-img) ;
}