@import "style.css";

h2 {
    text-align: center;
    font-family: var(--title-font);

}

h1 {
    text-align: center;
    font-family: var(--title-font);
    color: var(--color-dark);
    font-size: var(--h1-font-size);
}

ul {

    text-align: center;
}
li {
    list-style: none;
    font-family: var(--text-font);
}


.content-card {
    height: 667px;
    width: 1100px;
}
.map {

    object-fit: cover;
    height: 80%;
}

.card {
    margin-top: var(--spacing2);
    margin-bottom: var(--spacing2);
}

.content-card {
    overflow: auto;
}

.icon {
    position: absolute;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: var(--spacing4); !important;
}

h1 {

}

.content-main {
    margin-top: var(--nav);
    margin-bottom: var(--spacing4);
}

.container-fluids {
    padding-bottom: var(--spacing3);
    justify-content: space-around;
    padding-top: var(--spacing3);
    margin-left: var(--spacing5);
}


.background {
    background-image: var(--background-img);

}

@media screen and (max-width: 680px) {
    .container-fluids {
        display: flex;
        flex-direction: column;
        width: auto;
        margin-left: 0;

    }

    .card, .content-card {
        width: auto;
    }

    .content-card {
        overflow: visible;
    }

    .col-md-6 {
        margin-bottom: 18px;
    }

    h1 {
        padding-bottom: 0;
        padding-top: 32px;
    }

    .row {
        margin-bottom: 0;
    }


}

.logo {
    width: 300px;
    height: 300px;
}