.container {
    margin-top: var(--nav);
    border: solid var(--text-color);
    background-color: rgba(169,146,125, 0.4);
    margin-bottom: var(--spacing4);
    padding: var(--spacing3);
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
}