.container {
    margin-top: var(--nav);
    border: solid var(--text-color);
    background-image: var(--background-img) ;
    margin-bottom: var(--spacing4);
}

.paragraph {
    text-align: justify;
}

.link {
    text-decoration: underline;
    color: #5E503F;
    font-weight: 800;
}

.link:hover {
    color: var(--hover);
}

.title{
    font-family: var(--title-font);
    text-align: center;
    padding-top: var(--spacing4);
    padding-bottom: var(--spacing4);
    color: var(--color-dark);
    font-size: var(--h1-font-size);

}