.container {
    margin-top: var(--nav);
    border: solid var(--text-color);
    background-color: rgba(169,146,125, 0.4);
    margin-bottom: var(--spacing4);
}

.paragraph {
    text-align: justify;
}

.link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 800;
}

.link:hover {
    text-decoration: none;
    color: var(--hover);
}