{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block content %}
    <section class="section-choice">
        <div class="container">
            <div class="row justify-content-center">
                <div class="card col-11 col-md-3">
                    <p>Vous avez sélectionner</p>
                    <img class="card-img-top" src="/assets/images/{{ item.url }}" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }}</h5>
                        <p class="card-text"></p>
                        <a href="/shop/validate/{{ item.id }}" class="btn btn-primary">Valider</a>
                        <a href="/shop/shop/{{ item.id }}" class="btn btn-primary">Revenir</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}