{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block content %}
    <section class="section-shop">
        <h1>Shop</h1>
        <p>Following the king's announcement every citizen has the possibility to get a mask for free. You will find enclosed a selection of our best articles to face the pandemic.</p>
        <div class="container">
            <div class="row justify-content-between">
                {% for item in items %}
                    <div class="card col-11 col-md-3">
                        <img class="card-img-top" src="/uploads/{{ item.url }}" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.name }}</h5>
                            <p class="card-text"></p>
                            <a href="/shop/choice/{{ item.id }}" class="btn btn-primary">Select</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}