{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block content %}
    <section class="section-choice">
        <p>Merci beaucoup! Une calèche viendra vous déposer votre paquet dans les prochaines 24h !</p>
    </section>
{% endblock %}