{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/shop.css">
{% endblock %}

{% block content %}
    <section class="section-choice">
        <div class="container">
            <div class="row">
                    <div class="card col">
                        <div class="card-body">
                            <p>Thank you very much! A horse-drawn carriage will come to drop off your
                                package within the next 24 hours at the following address</p>
                            <p>Mrs/Ms : {{ profil.lastname }} {{ profil.firstname }}</p>
                            <p>Street : {{ profil.street }}</p>
                            <p>City/Castle : {{ profil.city }}</p>
                            <a href="/Plague/index" class="btn btn-primary">Home page</a>
                        </div>
                    </div>
            </div>
        </div>

    </section>
{% endblock %}