{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Le Pigeon Vert</h1>
        <h2>all the information on the Plague-47, 1 day/7 (between 1am and 2am in the morning' )</h2>
        <p class="paragraph">To find out more, click on the theme that interests you :<p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light"><a href="#confinement" class="link">Lockdown</a></button>
            <button type="button" class="btn btn-light"><a href="#attestation" class="link" >My certification</a></button>
        </div>
        <article class="article" id="confinement">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                How long will lockdown last?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            It will last as long as it takes, in the meantime don't forget to visit our shop !                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                How will I survive with my spouse?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Here are a few tips :
                            Allow yourself moments of quarrels, insults do good. We give you a short list:
                            Orchidoclaste (ball-breaker), Pisse-froid (cold person), and try out new activities
                            together: why not sign up for the next Joute Equestre competition?
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Will taxes on tithes and gabelle be postponed?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            Taxes are not postponed, we will always come knocking on your door
                            to get your money back..
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="article" id="attestation">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Am I allowed to go badger digging?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            Unfortunately no, digging up badgers is not one of the essential activities,
                            you will have to find another excuse to leave the family home today.
                            Or learn to support your spouse.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                What happens if I run out of salt to pay my taxes?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            We'll come back in a few days and you'll pay double, it's as simple as that
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                My pig has to go to court next week. Can I go or is it postponed?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            If the pig has to be judged, it will be judged !
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}