{% extends 'layout.html.twig' %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/faq.css">
{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="title">Le Pigeon Vert</h1>
        <h2>toutes les infos sur la Peste-47, 1j/7 (entre 1h et 2h du mat')</h2>
        <p class="paragraph">Pour en savoir plus, cliquez sur la thématique qui vous intéresse :<p>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-light"><a href="#confinement" class="link">Sur le confinement</a></button>
            <button type="button" class="btn btn-light"><a href="#attestation" class="link" >Sur mon attestation</a></button>
        </div>
        <article class="article" id="confinement">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Combien de temps durera le confinement ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            Il durera le temps qu'il faudra, en attendant n'oubliez pas d'aller visiter notre Boutique !
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                Comment vais je survivre avec mon/ma conjoint(e) ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Voilà quelque petits conseils :
                            Autorisez vous des moments de querelles, les insultes font du bien. On vous donne une
                            petite liste : Orchidoclaste (casse-couille), Pisse-froid (personne froide), et tester de
                            nouvelles activités ensemble: pourquoi pas s'inscrire à la prochaine compétition de
                            joute équestre ?

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Les impôts sur la dîme et la gabelle seront-ils repoussés ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            Les impôts ne sont pas repoussés, nous allons toujours venir toquer à vos portes
                            pour récupérer vos sous.
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <article class="article" id="attestation">
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Est-ce que j’ai le droit d’aller faire du déterrrage de blaireau ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            Malheureusement non, le déterreage ne fait pas partie des activités essentielles, il vas
                            falloir trouver une autre excuse pour quitter le foyer familiale aujourd’hui . Ou alors
                            apprenez à supporter votre conjoint(e).
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                    aria-controls="collapseTwo">
                                Que se passe-t'il si je n'ai plus de sel pour payer mes impôts ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            Nous repasserons dans quelques jours et vous paierez le double, c'est aussi simple que ça.
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                            <button class="btn btn-block text-left collapsed" type="button"
                                    data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                    aria-controls="collapseThree">
                                Mon cochon doit se faire juger la semaine prochaine. Puis-je y aller ou est-ce repoussé ?
                            </button>
                        </h2>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                         data-parent="#accordionExample">
                        <div class="card-body">
                            Si le cochon doit se faire juger, il sera jugé !
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
{% endblock %}