{% block footer %}
{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/footer.css">
{% endblock %}
<footer class="footer font-small blue pt-4">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-6 mt-md-0 mt-3">
                <h3 class="text-uppercase">Pourquoi nous</h3>
                <p>Parce que n'oublions pas qu'au moyen-âge, nous pensons que péter dans des bocaux et renifler le pet permet d'éviter la mort...</p>
            </div>
            <hr class="clearfix w-100 d-md-none pb-3">
           <div class="col-md-3 mb-md-0 mb-3">
                <h3 class="text-uppercase">Liens</h3>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://twitter.com/memesdumoyenage" target="_blank">Notre twitter</a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/kaamelott.les.repliques.cultes/" target="_blank">Notre facebook</a>
                    </li>
                    <li>
                        <a href="/Legal/index">Les informations du crieur</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 mb-md-0 mb-3">
            <img class="sceau" src="/assets/images/sceau.png">
            </div>
        </div>
    </div>
</footer>
{% endblock  %}