{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/navBar.css">
{% endblock %}

{% block navBar %}
    <nav class="navbar navbar-expand-lg navbar-light justify-content-between border-bottom border-warning">
        <a class="navbar-brand" href="/">
            <img class="d-lg-none align-top"  height="100" src="/assets/images/logo.png" alt="logo">
        </a>
        <p class="nameApp">La peste-47</p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-around mr-5" id="navbarNavAltMarkup">
            <a class="d-lg-inline-block align-top d-none" href="/"><img class="d-lg-inline-block align-top d-none" src="/assets/images/logo.png" alt="logo"></a>

            <a class="nav-link" href="../../Plague/index">Stop peste</a>
            <a class="nav-link" href="../../Understand/index">Comprendre</a>
            <a class="nav-link" href="/">Cartes et données</a>
            <a class="nav-link" href="../../Advice/index">Conseils</a>
            <a class="nav-link" href="../../Faq/index">Pigeon vert</a>
            <a class="nav-link" href="../../Shop/shop">Boutique</a>
        </div>
    </nav>
{% endblock %}